<nav class="navbar navbar-custom text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center">
            <!-- Logo -->
            <a href="/">
                <img class="logo" src="/images/friendango-logo-white-300px.png" />
            </a>
            <form id="search-form" class="form-inline my-2 my-lg-0">
                <div class="input-group input-group-sm">
                    <!-- Search Bar -->
                    <input class="navbar-search form-control form-control-sm" id="searchValue" type="search" placeholder="Search..."
                        aria-label="Search" />
                    <div class="input-group-append">
                        <!-- Search Bar Dropdown Button -->
                        <button type="button" class="btn btn-outline-light dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/movies/">Movies</a>
                            <a class="dropdown-item" href="/user/">Users</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="username-display">
            <!-- Username -->
            <p class="nav-username member-name d-inline mr-3">
                <!-- username will be populated here by members.js script -->
            </p>
            <!-- Sign Out Button -->
            <a href="/logout">
                <button class="btn btn-outline-light btn-sm">
                    Sign Out
                </button>
            </a>
        </div>
    </div>
</nav>