<nav class="navbar navbar-custom text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center">
            <!-- Logo -->
            <a href="/">
                <img class="logo" src="/images/friendango-logo-white-300px.png" />
            </a>
            <form class="form-inline my-2 my-lg-0">
                <div class="input-group input-group-sm">
                    <!-- Search Bar -->
                    <input class="navbar-search form-control form-control-sm" type="search" placeholder="Search..."
                        aria-label="Search" />
                    <div class="input-group-append">
                        <!-- Search Bar Dropdown Button -->
                        <button type="button" class="btn btn-outline-light dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Movies</a>
                            <a class="dropdown-item" href="#">Users</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="username-display">
            <!-- Log In Button -->
            <a href="/login">
                <button class="btn btn-outline-light btn-sm">
                    Log In
                </button>
            </a>
            <!-- Sign Up Button -->
            <a href="/signup">
                <button class="btn btn-outline-light btn-sm">
                    Sign Up
                </button>
            </a>
        </div>
    </div>
</nav>